{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"tabWidth": 4,
	"printWidth": 80,
	"semi": true,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"endofList": "auto"
}
